@import url("https://fonts.googleapis.com/css2?family=Play:wght@400;700&display=swap");
html {
  box-sizing: border-box;
  font-size: 1.125rem;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}
:root {
  --bg-color: #181c26;
  --container-bg-color: #f2b6c1;
  --line-bg-color: #a65161;
  --text-color: #0d0d0d;
}
body {
  font-family: "Play", sans-serif;
  line-height: 1.6;
  background-color: var(--bg-color);
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  color: var(--bg-color);
}
/* base class */
li {
  list-style: none;
}
span {
  text-align: center;
  margin-top: 1em;
  display: block;
}
a {
  text-decoration: none;
}
img {
  max-width: 100%;
  height: auto;
}
h2 {
  text-transform: uppercase;
  font-size: 2rem;
  font-weight: 600;
  line-height: 1.3;
  text-align: center;
}
.container {
  width: 80%;
  height: 600px;
  background-color: var(--container-bg-color);
  position: relative;
  border-radius: 5px;
}
.inner-line {
  position: absolute;
  width: 150px;
  height: 100%;
  background-color: var(--line-bg-color);
  top: 0;
  left: 380px;
}
.container .flex {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 100%;
  height: 100%;
}
.container .flex > img {
  width: 400px;
  height: 416px;
  object-fit: cover;
  z-index: 1;
}
.contact-us h2 {
  margin-bottom: 0.3em;
}
form {
  margin-top: 3em;
}
input {
  margin-bottom: 1em;
}
input[type="email"] {
  display: inline-block;
  width: 300px;
  padding: 0.8em;
  border: none;
  background-color: transparent;
  border-bottom: 2px solid #f2e9ee;
}
input[type="email"],
input[type="submit"]:focus {
  outline: none;
}
input[type="submit"] {
  display: inline-block;
  padding: 0.9em 2.2em;
  border: none;
  color: #f2e9ee;
  font-weight: 500;
  background-color: var(--line-bg-color);
  margin-left: 1.5em;
  border-radius: 3px;
  cursor: pointer;
}
.contact-us .social-icon {
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
  height: 100px;
}
.social-icon li {
  margin-right: 1.4em;
  width: 40px;
  height: 40px;
  background-color: var(--line-bg-color);
  border-radius: 50%;
}
.social-icon li i {
  line-height: 40px;
  color: #fff;
  transition: all 0.3s ease-out;
}
.social-icon li:hover .fab {
  transform: rotatey(360deg);
}
::placeholder {
  font-weight: 600;
}
/* media query */
@media (max-width: 1024px) {
  .container .flex {
    flex-direction: column;
  }
  .inner-line {
    height: 100px;
    width: 100%;
    left: 0;
    top: 50px;
  }
  .container .flex > img {
    width: 288px;
    height: 224px;
  }
  h2 {
    font-size: 1.4rem;
  }
}
